html, body, #root, .app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #f5f5f7;
    background-color: #000;
}

html {
    background-color: #151515;
}

p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

button {
    height: 35px;
    width: 100px;
    color: #f5f5f7;
    background: none;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 20px;
}
  
button:hover {
    background-color: rgba(240,240,240,0.15);
    transform: scale(1.05);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #101010;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 25px;
    border: 1px solid silver;
    border-radius: 12px;
}